.App {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: 'Roboto Mono', monospace;
}
